body {
  overflow: hidden;
}

.assistant {
  color: red;
  margin-left: 1em;
}

.translation {
  color: blue;
}

.layout {
  display: flex;
}

.left-pane {
  width: 50%
}

.right-pane {
  width: 50%;
  height: auto;
}

#dialog {
  border: 1px solid gray;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}