{{define "title"}}static speech{{end}}

{{define "body"}}
<h1>hello and be heard</h1>
  <form onsubmit="handleConversationInit(event)">
    <label for="language-select">Language</label>
    <select id="language-select"></select>
    <br>
    <label for="language-level">Level</label>
    <select id="language-level">
      <option value="beginner" selected>Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
    <br>
    <label for="conversation-context">Conversational Context</label>
    <select id="conversation-context">
      <option value="business">Business</option>
      <option value="casual" selected>Casual</option>
    </select>
    <br>
    <button type="submit" id="begin-button">New Conversation</button>
    <button type="button" id="clear-button">Clear Conversation</button>
  </form>
  <div>
    <p id="status"></p>
  </div>
  <div>
    <button id="start-button">Start Recognition</button>
    <button id="stop-button">Stop Recognition</button>
  </div>
  <div id="dialog"></div>
{{end}}