{{define "title"}}static speech{{end}}

{{define "body"}}
<h1>hello and be heard</h1>
  <form onsubmit="handleSubmit(event)">
    <label for="language-select">Language</label>
    <select id="language-select"></select>
    <label for="conversation-context">Conversational Context</label>
    <br>
    <select id="conversation-context">
      <option value="business">Business</option>
      <option value="casual">Casual</option>
    </select>
    <button type="submit">Begin</button>
  </form>
  <div>
    <button id="start-button">Start Recognition</button>
    <button id="stop-button">Stop Recognition</button>
  </div>
  <p id="output"></p>
  <div id="dialog"></div>
{{end}}